<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="./lib/vue-2.5.9.js"></script>
</head>

<body>
  <div id="app">

    <div>

      <label>Id:</label>
      <input type="text" v-model="id">
      <label>Name:</label>
      <input type="text" v-model="name">
      <input type="button" value="添加" class="btn btn-primary" @click="add"> &nbsp;&nbsp;&nbsp;&nbsp; 按照品牌名称检索:
      <input type="text" v-model="keywords" @change="searchByName">

    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>CTime</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in searchByName()" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.ctime }}</td>
          <td>
            <a href="http://www.baidu.com" @click.prevent="del(item.id)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>


  </div>

  <script>
    // 创建 Vue 实例，得到 ViewModel
    var vm = new Vue({
      el: '#app',
      data: {
        id: '',
        name: '',
        keywords: '', // 根据名称检索时候的关键字
        list: [
          { id: 1, name: '奔驰', ctime: new Date() },
          { id: 2, name: '宝马', ctime: new Date() },
          { id: 3, name: '千里马', ctime: new Date() },
          { id: 4, name: '奔奔', ctime: new Date(), }
        ]
      },
      methods: {
        add() { // 添加
          this.list.push({ id: this.id, name: this.name, ctime: new Date() })
          this.id = this.name = ''
        },
        del(id) { // 点击删除商品
          const index = this.list.findIndex(function (item, i, arr) {
            return item.id == id
          })
          this.list.splice(index, 1)
        },
        searchByName() { // 根据搜索的关键字,检索品牌数据
          // 数组的 filter 方法,,作用是循环指定的数组,并把 满足回调函数中指定条件的项,返回,从而得到一个新数组
          // 今后,为了防止此类事情的发生,上来就写 箭头函数
          return this.list.filter(item => item.name.includes(this.keywords))
        }
      }
    });
  </script>
</body>

</html>